.slider {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 50px;
  @media (max-width: 850px) {
    grid-template-columns: 100%;
  }
  & .swiper-slide {
    height: 60px !important;
    @media (max-width: 850px) {
      height: 150px !important;
    }
  }
}

.slider__one {
  width: 100%;
  text-align: center;
  overflow: hidden;
  @media (max-width: 850px) {
    display: flex;
    justify-content: space-between;
  }
}

.slider__two {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slider__three {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slider_main__title {
  margin: 50px 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 56px;
  color: #e6e6e6;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 550px) {
    font-size: 32px;
    margin: 20px 0;
    padding-bottom: 0;
  }
}

.slider__card,
.slider__two-card,
.slider__three-card {
  height: 60px;
  background: #f4cd0d;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  @media (max-width: 1000px) {
    padding-left: 5px;
  }
  @media (max-width: 850px) {
    text-align: center;
    justify-content: center;
    margin: 0 5px;
    height: 150px;
  }
  
  &:hover {
    cursor: pointer;
    transform: translateX(10px);
    @media (max-width: 768px) {
      transform: none;
    }
  }
}

.slider__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  color: #080705;
  margin-left: 10px;
  @media (max-width: 1500px) {
    font-size: 15px;
    line-height: 20px;
  }
  @media (max-width: 850px) {
    margin: 0;
  }
}

.slider__img {
  width: 40px;
  height: 40px;
  @media (max-width: 1350px) {
    height: 30px;
    width: 30px;
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

.slider__img-1 {
  background: url(../img/slide1_1.png) center/cover;
}
.slider__img-2 {
  background: url(../img/slide1_2.png) center/cover;
}
.slider__img-3 {
  background: url(../img/slide1_3.png) center/cover;
}
.slider__img-4 {
  background: url(../img/slide1_4.png) center/cover;
}
.slider__img-5 {
  background: url(../img/slide1_5.png) center/cover;
}
.slider__img-6 {
  background: url(../img/slide1_6.png) center/cover;
}
.slider__img-7 {
  background: url(../img/slide1_7.png) center/cover;
}
.slider__img-8 {
  background: url(../img/slide1_8.png) center/cover;
}
.slider__img-9 {
  background: url(../img/slide1_9.png) center/cover;
}
.slider__img-10 {
  background: url(../img/slide1_10.png) center/cover;
}
.slider__img-11 {
  background: url(../img/slide2_1.png) center/cover;
}
.slider__img-12 {
  background: url(../img/slide2_2.png) center/cover;
}
.slider__img-13 {
  background: url(../img/slide2_3.png) center/cover;
}
.slider__img-14 {
  background: url(../img/slide2_3.png) center/cover;
}

.slider__two .slider__two-card:not(:last-child) {
  margin-right: 14px;
}
