.slider__one {
  width: 100%;
  height: 520px;
  margin-top: 50px;
  padding-top: 26px;
  text-align: center;
  background: linear-gradient(
      89.76deg,
      #5b5757 11.1%,
      rgba(91, 87, 87, 0) 99.8%
    ),
    url("../img/rsp.jpg") center/cover fixed;
  -webkit-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  -moz-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.slider__two {
  width: 100%;
  height: 520px;
  margin-top: 50px;
  padding-top: 26px;
  text-align: center;
  background: linear-gradient(
      89.76deg,
      #5b5757 11.1%,
      rgba(91, 87, 87, 0) 99.8%
    ),
    url("../img/workprot.jpg") center/cover fixed;
  -webkit-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  -moz-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  overflow: hidden;
  @media (max-width: 768px) {
    padding-top: 40px;
    margin-top: 20px;
  }
  
}

.slider__three {
  width: 100%;
  height: 520px;
  margin-top: 50px;
  padding-top: 26px;
  text-align: center;
  background: linear-gradient(
      89.76deg,
      #5b5757 11.1%,
      rgba(91, 87, 87, 0) 99.8%
    ),
    url("../img/mchs_slider.png") center/cover fixed;
  -webkit-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  -moz-box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  box-shadow: inset 0px 0px 40px 0px rgb(0, 0, 0);
  overflow: hidden;
  @media (max-width: 768px) {
    padding-top: 40px;
    margin-top: 20px;
  }
  
}

.slider_main__title {
  max-width: 357px;
  margin: 0 auto;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-width: 450px) {
    font-size: 32px;
    width: 240px;
    padding-bottom: 0;
  }
}

.slider_main__title-two {
  width: 270px;
}

.slider_main__title-three {
  width: 100px;
}

.slick-slider {
  @media (max-width: 768px) {
    position: relative;
    overflow: hidden;
  }
}

.slider__one .slick-list {
  margin-top: 35px;
  overflow: visible;
}

.slider_one .slick-slide {
  margin: 0 7px 0;
}

.slider__one .slider__card,
.slider__two-card, .slider__three-card {
  width: 240px !important;
  height: 340px;
  padding-top: 30px;
  background: #e9cc33;
  text-align: center;
  @media (max-width: 768px) {
    margin-top: 20px;
    padding-bottom: 20px !important;
    width: 100% !important;
    height: 120px;
    padding: 0;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
  }
}

.slider__three-card {
  @media (max-width: 768px) {
    height: 220px;
    margin-top: 100px;
  }
}

.slider__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #080705;
  margin-top: 20px;
}

.slider__img {
  margin: 0 auto;
  width: 207px;
  height: 207px;
  @media (max-width: 768px) {
    margin: 20px 20px 0 10px;
    height: 80px;
    width: 80px
  }
}

.slick-dots {
  bottom: -35px;
}

.slider__img-1 {
  background: url(../img/slide1_1.png) center/cover;
}
.slider__img-2 {
  background: url(../img/slide1_2.png) center/cover;
}
.slider__img-3 {
  background: url(../img/slide1_3.png) center/cover;
}
.slider__img-4 {
  background: url(../img/slide1_4.png) center/cover;
}
.slider__img-5 {
  background: url(../img/slide1_5.png) center/cover;
}
.slider__img-6 {
  background: url(../img/slide1_6.png) center/cover;
}
.slider__img-7 {
  background: url(../img/slide1_7.png) center/cover;
}
.slider__img-8 {
  background: url(../img/slide1_8.png) center/cover;
}
.slider__img-9 {
  background: url(../img/slide1_9.png) center/cover;
}
.slider__img-10 {
  background: url(../img/slide1_10.png) center/cover;
}
.slider__img-11 {
  background: url(../img/slide2_1.png) center/cover;
}
.slider__img-12 {
  background: url(../img/slide2_2.png) center/cover;
}
.slider__img-13 {
  background: url(../img/slide2_3.png) center/cover;
}
.slider__img-14 {
  background: url(../img/slide2_3.png) center/cover;
}

.slider__body {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.slider__two .slider__two-card:not(:last-child) {
  margin-right: 14px;
}
