.slider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.slider__one {
  width: 30%;
  text-align: center;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.slider__two {
  width: 30%;
  text-align: center;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.slider__three {
  width: 30%;
  text-align: center;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.slider_main__title {
  margin: 50px auto 50px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 56px;
  color: #e6e6e6;
  text-transform: uppercase;
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-width: 450px) {
    font-size: 32px;
    width: 240px;
    padding-bottom: 0;
  }
}

.slider_main__title-two {
  width: 270px;
}

.slider_main__title-three {
  width: 100px;
}

.slider__one {
  margin-top: 35px;
  overflow: visible;
  margin: 0 7px 0;
}

.slider__one .slider__card,
.slider__two-card,
.slider__three-card {
  width: 420px !important;
  height: 120px;
  background: #f4cd0d;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  display: flex !important;
  align-items: center;
  padding-left: 20px;
  @media (max-width: 768px) {
    margin-top: 20px;
    padding-bottom: 20px !important;
    width: 100% !important;
    height: 120px;
    padding: 0;

    align-items: center;
  }
  &:hover {
    cursor: pointer;
    transform: translateX(10px);
    @media (max-width: 768px) {
      transform: none;
    }
  }
}

.slider__three-card {
  @media (max-width: 768px) {
    height: 220px;
    margin-top: 100px;
  }
}

.slider__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  color: #080705;
  margin-left: 10px;
}

.slider__img {
  width: 80px;
  height: 80px;
  @media (max-width: 768px) {
    margin: 20px 20px 0 10px;
    height: 80px;
    width: 80px;
  }
}

.slider__img-1 {
  background: url(../img/slide1_1.png) center/cover;
}
.slider__img-2 {
  background: url(../img/slide1_2.png) center/cover;
}
.slider__img-3 {
  background: url(../img/slide1_3.png) center/cover;
}
.slider__img-4 {
  background: url(../img/slide1_4.png) center/cover;
}
.slider__img-5 {
  background: url(../img/slide1_5.png) center/cover;
}
.slider__img-6 {
  background: url(../img/slide1_6.png) center/cover;
}
.slider__img-7 {
  background: url(../img/slide1_7.png) center/cover;
}
.slider__img-8 {
  background: url(../img/slide1_8.png) center/cover;
}
.slider__img-9 {
  background: url(../img/slide1_9.png) center/cover;
}
.slider__img-10 {
  background: url(../img/slide1_10.png) center/cover;
}
.slider__img-11 {
  background: url(../img/slide2_1.png) center/cover;
}
.slider__img-12 {
  background: url(../img/slide2_2.png) center/cover;
}
.slider__img-13 {
  background: url(../img/slide2_3.png) center/cover;
}
.slider__img-14 {
  background: url(../img/slide2_3.png) center/cover;
}

.slider__body {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.slider__two .slider__two-card:not(:last-child) {
  margin-right: 14px;
}
